/*CSS for about About.me */
body {
	background: url(assets/header_bg.jpg);
	background-size: cover;
	text-align: center;
	color: green;
}
header {
	text-align: center;
}
img {
	size: 300px;
	border-radius: 20px;
	margin: 75px;
	border: 9px solid white;
	position: center;
}
h1 {
	color: green;
	size: 35px;
}
p {
	size: 100px;
	text-align: center;
}
